.form{
    width: 100%;
    height: 100%;
    /* background-image:url('/Register.png'),linear-gradient(45deg,#0E0E0E,#021028); */
    background-image: url('/Register.png'),linear-gradient(45deg,rgb(41, 40, 40));
    background-size: cover;
    background-blend-mode:overlay;
    background-position: center;
    padding: 30px 70px;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:20px;
    color:cyan;
}

.div1{
    display: grid;
    grid-template-rows: repeat(2,.1fr);
    grid-template-columns: repeat(2,.1fr);
    gap:30px;
    font-size:30px;
}

.div2{
    width:655px;
    border:cyan 2px solid;
    grid-column: 2;
    grid-row: 1/span 2;
    padding: 34px;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.img{
    aspect-ratio:16/1;
    width:100%;
    height:100%;
    position: relative;
    right:0;
    top:0;
    text-align: center;
    object-fit: cover;
    font-size: 10px;
}

.div3{
    width: fit-content;
    padding:30px;
    display:grid;
    grid-template-columns: repeat(2,.2fr);
    gap: 20px;
    border: cyan 2px solid;
    border-radius: 10px;
    margin-bottom:20px;
}

.div4{
    display: grid;
    grid-template-columns: repeat(2,.2fr);
    grid-template-rows: repeat(3,.2fr);
    column-gap:100px;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
    font-size: 20px;
}

.image_div{
    display: grid;
    grid-template:repeat(var(--len),auto)/repeat(var(--len),auto);
    width:180px;
    height:100%;
    position: absolute;
    top:0;
    right:0;
}


.select{
    max-height:300px;
    overflow-y: scroll;
}