@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.button{
  width:fit-content;
  height:40px;
  margin: 20px 0;
  padding: 0 30px;
  border:2px solid #BAE1E8;
  background: #0C2552;
  color:#7DFCFF;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  line-height:0px;
  text-transform: uppercase;
  font-weight: 500;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  perspective: 800px;
  position: absolute;
  z-index:1;
}

.popup {
  font-size:16px;
  width: calc(260px * 2);
  height: calc(150px * 2);
  background: url('/BG.png') no-repeat center;
  background-size: cover;
  /* border: 2px solid var(--system-border); */
  color: var(--system-text);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:0;
  position: fixed;
  z-index: 1;
  transform: rotateX(15deg);
}

.popup::before,
.popup::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.popup::before {
  top: -16px;
  transform: scale(1.15);
  background-image: url('../public/upper_pane.png');
}

.popup::after {
  bottom: -18px;
  transform: scale(1.20);
  background-image: url('../public/Lower_pane.png');
}

.glitchText {
  text-align: center;
  width:calc(175px * 2);
  padding:0 calc(10px * 2);
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(128, 0, 255, 1);
  animation: glitch 0.6s 4 alternate;
  white-space: pre-line;
}

@keyframes systemPopupVertical {
  0% {
    opacity: 0;
    height: 0;
    transform: scaleY(0.1) rotateX(15deg);
    filter: drop-shadow(0 0 5px var(--system-shadow));
  }
  50% {
    opacity: 1;
    height: 120px;
    transform: scaleY(1.1) rotateX(15deg);
    filter: drop-shadow(0 0 10px var(--system-border));
  }
  100% {
    height: calc(150px * 2);
    transform: scaleY(1) rotateX(15deg);
    filter: drop-shadow(0 0 15px var(--system-glow));
  }
}

@keyframes glitch {
  0% {
    text-shadow: 2px 0px 0px var(--system-border),
                 -2px 0px 0px rgba(0, 255, 255, 0.8);
  }
  20% {
    text-shadow: -2px 0px 0px var(--system-border),
                 2px 0px 0px rgba(0, 255, 255, 0.8);
  }
  40% {
    text-shadow: 3px 0px 5px var(--system-shadow),
                 -3px 0px 5px rgba(0, 255, 255, 0.6);
  }
  60% {
    text-shadow: -2px -2px 0px var(--system-shadow),
                 2px 2px 0px rgba(0, 255, 255, 0.6);
  }
  80% {
    text-shadow: 2px 2px 5px var(--system-border),
                 -2px -2px 5px rgba(0, 255, 255, 0.8);
  }
  100% {
    text-shadow: -2px 0px 0px var(--system-border),
                 2px 0px 0px rgba(0, 255, 255, 0.8);
  }
}

/* Export animation name for JS usage */
:export {
  systemPopupVertical: systemPopupVertical;
}